<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cadastro de Vagas</title>
</head>

<body class="bg-gray-900 h-screen flex flex-col">
    <nav class=" bg-zinc-900 p-4 flex justify-between items-center">
        <div><a href="" class="text-white text-lg font-semibold">Cadastro</a></div>
        <div><a href="" class="text-white text-lg font-semibold">Listagem</a></div>
        <div><a href="" class="text-white text-lg font-semibold">logout</a></div>
    </nav>
    <div class=" flex flex-grow items-center justify-center">

    </div>
</body>

</html>